<div class="about-section text-white d-flex justify-content-center align-items-center">
  <div>
      <div >
          <h1 class="text-center pt-5 child">CONATCT SECTION</h1>
      </div>
      <div class="d-flex justify-content-center align-items-center">
          <div class="line "></div>
          <i class="fa-solid fa-star px-3"></i> 
          <div class="line"></div>
      </div>
  </div>
</div>       
<div class="container">
 <form class="contact-details mx-auto mt-5 ">
  <div class="input-container my-5 ">
    <input placeholder="userName" name="userName" class="input-field "type="text">
    <label for="input-field" class="input-label">userName :</label>
    <span class="input-highlight"></span>
  </div>
  <div class="input-container my-5">
    <input placeholder="userAge" class="input-field" type="number">
    <label for="input-field" class="input-label">userAge :</label>
    <span class="input-highlight"></span>
  </div>
  <div class="input-container my-5">
    <input placeholder="userEmail" class="input-field" type="email">
    <label for="input-field" class="input-label">userEmail :</label>
    <span class="input-highlight"></span>
  </div>
  <div class="input-container">
    <input placeholder="userPassword" class="input-field" type="password">
    <label for="input-field" class="input-label">userPassword :</label>
    <span class="input-highlight"></span>
  </div>
  <button type="submit" class="btn contact-btn"> send Message</button>
 </form>
</div>