.portfolio-section{
    padding-top: 75px;
    background-color: #ffffff;
}
.line{
    width: 80px;
    background-color:#2c3e50;
    height: 4px;
}
.icon{
    color: #2c3e50;
}
.portfolio-details{
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background-color: #1abc9c;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
}
.layer i{
    position: absolute;
    top: 38%;
    left: 40%;
}

.parent:hover .layer{
    opacity: 1;
    
}
.light-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #467ecc6d;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.light-box{
    width: 40%;
    height: 65%;
    background-image: url('../../assets/images/poert1.png');
    background-size: 100% 100%;

}