
.home-section{
    padding-top: 70px;
    height: 600px;
    background-color: #1abc9c;
}
.line{
    width: 80px;
    background-color: white;
    height: 4px;
    
    
}
.home-details{
    padding: 40px;
}
.child{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}